.navbar-nav .nav-link {
    color: rgb(58, 21, 21) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', serif;
}


#blogtitle {
    font-size: 6rem;
}

@media (max-height: 100%) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
